{
    "env": {
        "browser": true,
        "node": true,
        "amd": true
    },

    "rules": {
        "indent": 2,
        "quotes": [2, "single"],
        "semi": [2, "always"],
        "brace-style": [2, "1tbs", { "allowSingleLine": true }],
        "no-console": 0,
        "no-mixed-spaces-and-tabs": 2,
        "space-after-keywords": 2,
        "space-before-blocks": 2,
        "no-var": 2,
        "prefer-const": 2,
        "no-multi-spaces": 2,
        "no-extra-semi": 2,
        "no-redeclare": 2,
        "no-shadow": 2,
        "no-unused-vars": 2,
        "consistent-return": 0,
        "new-cap": 0,
        "yoda": [2, "never", { "exceptRange": true }],
    }
}
